/* CSS declarations go here */
body {
	background: rgb(220,220,220);
	color: rgba(0,0,0,.5);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	background: rgb(243,244,235);
}

.title {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	background: rgb(64,40,23);
	background-image: url('background.png');
	background-size: cover;
	color: rgb(255,255,255);
	padding: 16px 0;
}

.github {
	height: 34px;
	margin-top: -5px;
	margin-right: 10px;
	opacity: .4;
	float: right;
	clear: both;
}

.github:hover {
	opacity: .8;
	cursor: pointer;
}

.title .spacer {
	width: 46px;
	float: left;
	height: 1px;
}

.header {
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: -15px;
	color: rgb(50,50,50);
}

i {
	color: rgb(238,217,152);
	text-decoration: none;
	font-style: normal;
}
code {
	background: rgb(255,255,255);
}
span {
	font-family: Courier, "Lucidatypewriter", Fixed, monospace;
}


.content {
	max-width: 600px;
	margin: 0 auto;
	/*background: #f5f5f5;*/
	padding: 0 26px;
	overflow: hidden;

}

.subHeader {
	height: 44px;
	line-height: 44px;
	background: rgb(183,183,183);

	border-radius: 0;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: rgb(90,172,65);
	background: rgb(235,235,217);
}

