#MongoInspector {
  opacity: 0.6;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: monospace;
  z-index: 9999999999;
  font-size: 14px;
  line-height: 28px;
  border-radius: 0 5px 0 0;
  overflow: hidden; }
.MongoInspector_header {
  padding: 0 8px;
  font-weight: bold;
  background: #000; }
.MongoInspector_header:hover {
  cursor: pointer; }
.MongoInspector_row {
  margin-top: 1px;
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2);
  padding: 0 8px; }
.MongoInspector_count {
  float: right;
  margin-left: 8px; }
.MongoInspector_row:hover {
  background: #000;
  cursor: pointer; }
.MongoInspector_row:active {
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
  transition: 0.7s; }

@media (max-width: 768px) {
  #MongoInspector {
    display: none;
  }
}